.input-name {
  width: 100%;
}

#firstName {
  margin-right: 11px;
}

.form-names {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
}

.form-items {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.artist-form {
  background: url("../../img/form-background.jpg");
  background-size: cover;
  width: 100%;
}

.form-wrapper {
  max-width: 443px;
  padding: 50px 24px;
  margin: 0 auto;
}

.artist-form input {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 11px;
  text-align: center;
  padding: 11px 12px;
  font-size: 15px;
  border-radius: 6px;
  border: 0px;
  box-shadow: 0 1px 2px 1px #5050505e;
}

.form-header {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: -15px;
}

.form-text {
  font-size: 1.55rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.checkbox-text {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .form-wrapper {
    max-width: 338px;
    padding: 30px 24px;
  }
  .form-header {
    font-size: 1.5rem;
  }
  .checkbox-text {
    font-size: 1.1rem;
  }
  .form-text {
    font-size: 1.2rem;
  }
}

.button-submit {
  background-color: transparent;
  border: 3px solid white;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-size: 1.62rem;
  padding: 7px;
}
