.container-main {
  display: flex;
  width: auto;
  margin: 0 auto;
  background-color: #0065c3;
  flex-direction: column;
  min-width: 375px;
}

@media (min-width: 1670px) {
  .container-main {
    width: 80vw;
  }
}

@media (min-width: 2070px) {
  .container-main {
    width: 70vw;
  }
}

.form-column {
  flex: 0 0 641px;
}

.layout-main {
  display: flex;
  flex-direction: column;
}

.layout-column {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1023px) {
  .layout-column {
    flex-direction: column-reverse;
  }
}

.image-link {
  width: 100%;
  margin-bottom: -5px;
}

.hero-column {
  background: url("../../img/artist-photography.jpg");
  position: relative;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  background-size: cover;
  background-position: top;
  align-items: center;
  justify-content: center;
  padding-top: 20vh;
}

@media (max-width: 1024px) {
  .hero-column {
    background-position-y: 10%;
    height: 56.25vw;
    padding-top: 0vh;
    align-items: flex-end;
    justify-content: center;
  }
}

.image-brand {
  width: 35vw;
}

@media (min-width: 1440px) {
  .image-brand {
    width: 25vw;
  }
}
