@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  background-color: #0065c3;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #fff;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 375px) {
  body {
    min-width: 375px;
  }
}

label {
  color: white;
}

input {
  color: #676767;
}
